#switchDiplay {
    border: none;
    color: white;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
}

#switchDiplay:hover {opacity: 1}

.bluecolorbtn{
    background: #2196F3;
    --default-primary-color: #2196F3;
    color: white;
}

.link-footer{
    padding-left: 10px;
    padding-right: 10px; 
}