
<!DOCTYPE html>
<html>
<body>
    <p id="message"></p>
    <input type="text" required="" name="username" maxlength="150" id="query" autofocus="">
    <select name="type_recherche" id="type_recherche">
        <option selected value="formule">Formule</option>
        <option value="inchi">InChi</option>

    </select>

    <input type="button" class="bouton" value="rechercher">

    <div id="data"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.bouton').click(function(){
      document.getElementById('data').innerHTML = "";
      var query = document.getElementById('query').value;
      var type_recherche = document.getElementById('type_recherche').value;
      $.ajax(
      {
          type:"GET",
          url: "http://127.0.0.1:8000/API/recherche/",
          data:{
                   type: type_recherche,
  		             q: query
          },
          success: function( data )
          {
            document.getElementById('data').innerHTML += data.length+" résultats pour "+query+"<br></br>";
            for (var i = 0; i <data.length; i++){

              document.getElementById('data').innerHTML += "Formule : "+data[i].formule+"<br>";
              document.getElementById('data').innerHTML += "Inchi : "+data[i].inchi+"<br>";
              document.getElementById('data').innerHTML += "Nombre atome : "+data[i].nb_heavy_atoms+"<br>";
              document.getElementById('data').innerHTML += "Charge : "+data[i].charge+"<br>";
              document.getElementById('data').innerHTML += "total molecular energy : "+data[i].total_molecular_energy+"<br>";
              document.getElementById('data').innerHTML += "Basis set name : "+data[i].basis_set_name+"<br>";
              document.getElementById('data').innerHTML += "job type : "+data[i].job_type+"<br>";
              document.getElementById('data').innerHTML += "multiplicity : "+data[i].multiplicity+"<br>";
              document.getElementById('data').innerHTML += "list theory : "+data[i].list_theory+"<br>";
              document.getElementById('data').innerHTML += "solvent: "+data[i].solvent+"<br>";


              document.getElementById('data').innerHTML += "___________________________________________"+"<br><br";


            }

          }

       })
     });
</script>
</body>
</html>
